body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
dd,
hr,
ul,
ol,
td,
input,
option,
textarea {
    margin: 0;
    padding: 0;
}

body {
    font-family: "微软雅黑";
    background: #f1ebeb;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    border: none;
}

input {
    outline: none;
}

#box {
    height: 38px;
    border-top: 1px solid #cccdcd;
    background: #f9f9f9;
}

#box1 {
    width: 1490px;
    height: 38px;
    margin: 0 auto;
    position: relative;
}

#box2 {
    width: 16px;
    height: 20px;
    background: url(img/jl.png) no-repeat;
    background-position: 1px 1px;
    position: absolute;
    left: 1px;
    top: 9px;
}

#box1 .tell {
    line-height: 38px;
    color: #666666;
    font-size: 12px;
    margin-left: 18px;
    text-align: center;
}

#box1 .tell1 {
    color: #666666;
    font-size: 12px;
}

#box1 span {
    font-size: 12px;
    color: #e9ebf1;
}

#box1 p {
    display: block;
    float: right;
    line-height: 38px;
    font-size: 12px;
    color: #666666;
    margin-right: 120px;
}

#box1 a {
    margin-right: 10px;
    color: #666666;
}

.game {
    position: absolute;
    right: 0;
    top: 6px;
    width: 98px;
    height: 25px;
    border: 1px solid #e7e8e7;
    background: white;
    display: flex;
    justify-content: space-between;
}

.game h4 {
    font-size: 12px;
    line-height: 25px;
    margin-left: 13px;
}

#box3 {
    width: 11px;
    height: 7px;
    margin-top: 9px;
    margin-right: 10px;
    background: url(img/jl.png) no-repeat;
    background-position: 0px -24px;
}

#box1 a:hover {
    color: red;
    text-decoration: underline;
}

#box4 {
    width: 1490px;
    height: 135px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background: white;
}

#box4_1 {
    height: 135px;
    background: white;
}

#box5 {
    width: 609px;
    height: 43px;
    border: 2px solid #f74a4a;
    margin: auto 0;
    display: flex;
    position: relative;
}

#box5 .xuanze {
    width: 116px;
    height: 40px;
    border-bottom: 3px solid #efefef;
    border-right: 1px solid #efefef;
    font-size: 12px;
    color: #333333;
    line-height: 40px;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
}

#box5 .ss {
    width: 46px;
    height: 44px;
    background: #f74a4a;
}

#box6 {
    width: 11px;
    height: 7px;
    background: url(img/jl.png) no-repeat;
    background-position: 0px -24px;
    margin: auto 0;
    margin-right: 14px;
}

#box5 .xuanze:hover #box6 {
    background-position: -20px -24px;
}

.o_ipt {
    width: 416px;
    height: 40px;
    border: 0px;
    text-indent: 10px;
}

#box7 {
    width: 500px;
    height: 250px;
    background: white;
    position: absolute;
    top: 46px;
    left: 0;
    display: none;
    z-index: 10;
}

#box5 .xuanze:hover #box7 {
    display: block;
}

#box5 .xuanze:hover {
    border-bottom: 5px solid white;
}

#box5 .ss:hover {
    background: rgb(179, 10, 10);
}

#box8 {
    height: 67px;
    background: #3a3f4a;
}

#box9 {
    width: 1490px;
    height: 67px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#box10 {
    width: 238px;
    height: 67px;
    background: #eb4c4c;
    display: flex;
    cursor: pointer;
}

#box10 h3 {
    font-size: 20px;
    color: #f77f91;
    font-weight: normal;
    line-height: 67px;
    margin-left: 10px;
}

#box11 {
    width: 24px;
    height: 31px;
    background: url(img/jl.png) no-repeat;
    background-position: 0px -175px;
    margin: auto 0;
    margin-left: 36px;
}

#box12 ul {
    display: flex;
}

#box12 ul li {
    width: 160px;
    height: 67px;
    text-align: center;
    line-height: 67px;
    color: #cccdcd;
}

#box12 ul li:hover {
    background: #f55656;
    color: white;
}

#box9 .shop {
    width: 287px;
    height: 54px;
    background: #f74a4a;
    margin: auto 0;
    display: flex;
    position: relative;
}

#box9 .shop p {
    font-size: 20px;
    color: white;
    line-height: 54px;
    display: block;
    margin-left: 10px;
    margin-right: 64px;
}

#box9 .shop:hover {
    background: #ad2828;
}

#box9 a h3 {
    font-size: 20px;
    color: white;
    line-height: 54px;
}

#box9 a span {
    color: #e04040;
    margin: auto 0;
    margin-right: 30px;
}

#box13 {
    width: 25px;
    height: 20px;
    background: palegoldenrod;
    margin: auto 0;
    margin-left: 52px;
}

#box14 {
    height: 481px;
    background: url(img/wrap_bg.png) center top;
}

#box15 {
    width: 1490px;
    height: 415px;
    background: white;
    margin: 0 auto;
    position: relative;
}

#box15 div {
    width: 30px;
    height: 30px;
    margin: auto 0;
    margin-left: 28px;
    margin-right: 12px;
}

#box15 ul li {
    width: 238px;
    height: 82px;
    background: #f55656;
    border-bottom: 1px solid #ee4545;
    line-height: 82px;
    display: flex;
    cursor: pointer;
    color: white;
    position: relative;
}

#box15 ul li p {
    display: block;
    margin-right: 65px;
}

#box15 ul li:hover {
    background: white;
    color: black;
}

#box15 ul li:hover #rm {
    display: block;
}

#box15 ul li:hover #js {
    display: block;
}

#box15 ul li:hover #jj {
    display: block;
}

#box15 ul li:hover #xx {
    display: block;
}

#box15 ul li:hover #wy {
    display: block;
}

#box15 ul li:hover span {
    color: #cccdcd;
}

#box15 ul li:hover #box16 {
    background-position: -145px -206px;
}

#box15 ul li:hover #box17 {
    background-position: -24px -206px;
}

#box15 ul li:hover #box18 {
    background-position: -57px -206px;
}

#box15 ul li:hover #box19 {
    background-position: -86px -206px;
}

#box15 ul li:hover #box20 {
    background-position: -117px -206px;
}

#box15 ul li span {
    color: #ed4343;
}

#box16 {
    background: url(img/jl.png) no-repeat;
    background-position: -145px -177px;
}

#box17 {
    background: url(img/jl.png) no-repeat;
    background-position: -24px -177px;
}

#box18 {
    background: url(img/jl.png) no-repeat;
    background-position: -57px -177px;
}

#box19 {
    background: url(img/jl.png) no-repeat;
    background-position: -86px -177px;
}

#box20 {
    background: url(img/jl.png) no-repeat;
    background-position: -117px -177px;
}

#box15 #box21 {
    width: 287px;
    height: 415px;
    position: absolute;
    right: -12px;
    top: 0;
}

#box15 #box22 {
    width: 965px;
    height: 415px;
    position: absolute;
    left: 210px;
    top: 0;
}

#box22 img {
    width: 965px;
    height: 415px;
    position: absolute;
    top: 0;
}

#box15 #box23 {
    width: 275px;
    height: 108px;
    border-bottom: 1px solid #efefef;
    display: flex;
}

#box23 #box24 {
    width: 52px;
    height: 56px;
    margin-left: 10px;
}

#box23 #box24 img {
    width: 52px;
}

#box23 p {
    font-size: 12px;
    color: #999999;
    margin-top: 22px;
    margin-left: 10px;
}

#box23 p a {
    color: #1994eb;
}

#box23 p a:hover {
    text-decoration: underline;
}

#box15 #box25 {
    width: 275px;
    height: 38px;
}

#box25 h5 {
    font-weight: normal;
    line-height: 38px;
    text-indent: 10px;
}

#box23 a span {
    font-size: 12px;
    color: black;
}

#box23 {
    display: flex;
}

#box23 #box26 {
    margin-left: 10px;
    margin-top: 18px;
    margin-right: 34px;
}

#box23 #box26 span {
    display: block;
    width: 50px;
    margin-top: 8px;
    text-align: center;
}

#box23 #box26:hover span {
    color: red;
    text-decoration: underline;
}

#box21 #box27 a {
    display: block;
    font-size: 12px;
    color: #666666;
    margin-right: 27px;
    line-height: 43px;
}

#box21 #box27 a:hover {
    text-decoration: underline;
}

#box21 #box27 h6 {
    line-height: 43px;
    margin-left: 14px;
}

#box21 #box27 {
    width: 275px;
    height: 43px;
    display: flex;
    justify-content: space-between;
}

#box21 #box28 {
    width: 276px;
    height: 116px;
}

#box21 #box28 p {
    display: flex;
    justify-content: space-between;
}

#box21 #box28 p a {
    font-size: 12px;
    color: #666666;
    line-height: 28px;
    width: 165px;
    height: 28px;
    overflow: hidden;
    margin-left: 10px;
}

#box21 #box28 p a:hover {
    text-decoration: underline;
}

#box21 #box28 span {
    font-size: 12px;
    color: #999999;
    margin-right: 25px;
}

#box14 li #rm {
    width: 280px;
    height: 415px;
    background: white;
    position: absolute;
    right: -292px;
    top: 0;
    z-index: 1;
    display: none;
}

#box14 li #js {
    width: 280px;
    height: 415px;
    background: white;
    position: absolute;
    right: -292px;
    top: -83px;
    z-index: 1;
    display: none;
}

#box14 li #jj {
    width: 280px;
    height: 415px;
    background: white;
    position: absolute;
    right: -292px;
    top: -166px;
    z-index: 1;
    display: none;
}

#box14 li #xx {
    width: 280px;
    height: 415px;
    background: white;
    position: absolute;
    right: -292px;
    top: -249px;
    z-index: 1;
    display: none;
}

#box14 li #wy {
    width: 280px;
    height: 415px;
    background: white;
    position: absolute;
    right: -292px;
    top: -332px;
    z-index: 1;
    display: none;
}

#rm a {
    display: block;
    color: black;
    width: px;
    height: 40px;
}

#rm a:hover {
    color: red;
    text-decoration: underline;
}

#rm #rm1 {
    width: 110px;
    height: 380px;
    margin-top: 20px;
    border-right: 2px solid #666666;
}

#rm #rm2 {
    width: 110px;
    height: 380px;
    position: absolute;
    top: 0;
    left: 140px;
    margin-top: 20px;
}

.shop #car {
    width: 600px;
    height: 150px;
    background: white;
    position: absolute;
    top: 54px;
    right: 0;
    z-index: 1;
    display: none;
}

.shop:hover #car {
    display: block;
}

#car1 {
    width: 600px;
    height: 45px;
    background: #f1ebeb;
    display: flex;
    justify-content: space-around;
    line-height: 45px;
}

#car h5 {
    color: #e04040;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    margin-top: 55px;
}

#box29 {
    width: 1490px;
    height: 67px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#box30 {
    width: 28px;
    height: 28px;
    background: url(img/jl.png) no-repeat;
    background-position: -23px -71px;
    margin: auto 0;
}

#box29_1 {
    width: 140px;
    height: 67px;
    display: flex;
}

#box29_2 {
    width: 140px;
    height: 67px;
    display: flex;
    margin-right: 150px;
}

#box29 h3 {
    line-height: 67px;
    font-weight: normal;
    margin-left: 10px;
}

#box31 {
    width: 28px;
    height: 28px;
    background: url(img/jl.png) no-repeat;
    background-position: -56px -71px;
    margin: auto 0;
}

#box32 {
    width: 1490px;
    height: 362px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#box33 {
    width: 1187px;
    height: 362px;
    display: flex;
    flex-wrap: wrap;
}

#box34 {
    width: 287px;
    height: 362px;
}

#box35 {
    width: 395px;
    height: 180px;
    border-bottom: 1px solid #999999;
    border-right: 1px solid #999999;
}

#box33 #box35:nth-child(3n) {
    border-right: none;
}

#box36 {
    height: 441px;
    background: #3b3f4a;
}

#box37 {
    width: 1490px;
    height: 260px;
    border-bottom: 1px solid #444853;
    margin: 0 auto;
    display: flex;
}

#box38 {
    width: 283px;
    height: 187px;
    margin-top: 31px;
    border-right: 1px solid #444853;
    display: flex;
}

#box39 {
    width: 373px;
    height: 187px;
    margin-top: 31px;
    display: flex;
}

#box40 {
    width: 42px;
    height: 42px;
    background: url(img/jl.png) no-repeat;
    background-position: 10px -132px;
}

#box41 {
    margin-left: 10px;
}

#box41 a {
    display: block;
    font-size: 12px;
    color: #adb2bc;
    line-height: 30px;
}

#box41 a:hover {
    text-decoration: underline;
}

#box41 h4 {
    font-weight: normal;
    color: #adb2bc;
    margin-top: 10px;
}

#box39 img {
    width: 125px;
    height: 125px;
}

#box39 h3 {
    font-weight: normal;
    color: #adb2bc;
    margin-top: 20px;
    text-align: center;
}

#box39 #box39_1 {
    margin-left: 65px;
    margin-right: 50px;
}

#box36 a {
    font-size: 12px;
    color: #adb2bc;
}

#box36 a:hover {
    text-decoration: underline;
}

#box42 {
    text-align: center;
    margin-top: 40px;
}

#box43 {
    text-align: center;
}

#box43 p {
    font-size: 12px;
    color: #adb2bc;
}

#box36 span {
    color: #adb2bc;
    font-size: 12px;
}

#box44 {
    text-align: center;
}

#box48 {
    width: 70px;
    height: 70px;
    background: white;
    border: 1px solid #999999;
    position: fixed;
    top: 500px;
    right: 20px;
    z-index: 20;
    cursor: pointer;
}

#box46 {
    width: 35px;
    height: 25px;
    margin: 0 auto;
    margin-top: 5px;
    background: url(img/jl2.png) no-repeat;
    background-position: -119px -154px;
    z-index: 20;
}

#box45 span {
    font-size: 12px;
    display: block;
    text-align: center;
    margin-top: 10px;
}

#box48:hover {
    background: #f55656;
}

#box48:hover span {
    color: white;
}

#box48:hover #box46 {
    background-position: -158px -154px;
}

#box45 #box47 {
    width: 70px;
    height: 35px;
    border: 1px solid #999999;
    background: white;
    position: fixed;
    top: 580px;
    right: 20px;
    z-index: 20;
    cursor: pointer;
}

#box47 h6 {
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    line-height: 35px;
}

#box45 #box47:hover {
    background: #f55656;
}

#box45 #box47:hover h6 {
    color: white;
}